{% extends "base.html" %}
{% load static %}

{% block page_title %}
	My Posts
{% endblock page_title %}

{% block css %}
	<link rel="stylesheet" href="{% static "blog/all-posts.css" %}">
{% endblock css %}

{% block content %}
	<div class="heading">
		My Collected Posts
	</div>

	<div class="all-blogs">

		<div class="blog-cards">

			{% for blog in blogs %}
				<div class="blog-info">
						<div>
								<img src="https://i.pinimg.com/originals/e3/92/8f/e3928f436c5055a6955f0ecf25b5d416.jpg" 
												alt="Flowers"
												class="blog-icon">
						</div>

						<div class="blog-title">
								{{ blog.title }}
						</div>

						<div class="blog-summary">
								{{ blog.content }}
						</div>
				</div>
			{% endfor %}

				{% comment %} <div class="blog-info">
						<div>
								<img src="https://wallpapers.com/images/hd/lotus-flower-beautiful-waterfall-0gowp0lv2cadpvs3.jpg" 
												alt="Waterfall"
												class="blog-icon">
						</div>

						<div class="blog-title">
								Nature At Its Best
						</div>

						<div class="blog-summary">
								A waterfall is a natural geological feature where a river or stream flows 
								over a vertical drop or series of drops in its course. 
						</div>
				</div>

				<div class="blog-info">
						<div>
								<img src="https://i.pinimg.com/originals/e3/92/8f/e3928f436c5055a6955f0ecf25b5d416.jpg" 
												alt="Flowers"
												class="blog-icon">
						</div>

						<div class="blog-title">
								Nature At Its Best
						</div>

						<div class="blog-summary">
								Nature is amazing. 
								The amount of inspiration I get when walking 
								in the nature is incredible.
						</div>
				</div> {% endcomment %}
				
		</div>
</div>
{% endblock content %}